/* common css start */
body {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
}
h2, p, ul, li, button {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
/* common css end */

/* scoreboard section css start */
#scorebord {
    margin-top: 50px;
    text-align: center;
}
#scorebord .score, #scorebord .game_info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#scorebord .score h2 {
    font-size: 38px;
    font-weight: 500;
}
#scorebord .score button {
    background-color: black;
    padding: 0px 40px;
    border-radius: 15px;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    margin: 0 20px;
    line-height: initial;
}
#scorebord .game_info {
    margin-top: 20px;
}
#scorebord .game_info .stadium {
    margin: 0 45px;
}
#scorebord .game_info .tournament_image {
    width: 30px;
    margin-right: 15px;
}
#scorebord .game_info .tournament_text {
    font-size: 20px;
    font-weight: 500;
}

/* scoreboard section css end */

/* field section css start */
#field {
    margin-top: 50px;
    margin-bottom: 100px;
}
.field_image1, .field_image2 {
    position: relative;
    margin-bottom: 50px;
}
.flag_image {
    width: 72px;
}
.flag_img1,.flag_img2, .flag_img3,.flag_img4,.flag_img5,.flag_img6,.flag_img7,.flag_img8,.flag_img9,.flag_img10,.flag_img11{
    position: absolute;
}
.field_image1 .flag_img1, .field_image2 .flag_img1{
    top: 8%;
    left: 50%;
    transform: translateX(-50%);
}
.field_image1 .flag_img2, .field_image2 .flag_img2{
    top: 25%;
    left: 15%;
}
.field_image1 .flag_img3{
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
}
.field_image1 .flag_img4, .field_image2 .flag_img4{
    top: 25%;
    right: 15%;
}
.field_image1 .flag_img5, .field_image2 .flag_img5 {
    top: 39%;
    left: 33%;
}
.field_image1 .flag_img6, .field_image2 .flag_img6 {
    top: 39%;
    right: 33%;
}
.field_image1 .flag_img7, .field_image2 .flag_img7 {
    top: 64%;
    left: 13%;
}
.field_image1 .flag_img8, .field_image2 .flag_img8 {
    top: 64%;
    left: 33%;
}
.field_image1 .flag_img9, .field_image2 .flag_img9 {
    top: 64%;
    right: 33%;
}
.field_image1 .flag_img10, .field_image2 .flag_img10 {
    top: 64%;
    right: 13%;
}
.field_image1 .flag_img11, .field_image2 .flag_img11 {
    top: 78%;
    left: 50%;
    transform: translateX(-50%);
}
.field_image2 .flag_img3 {
    top: 54%;
    left: 50%;
    transform: translateX(-50%);
}
/* field section css end */